@model Camera_Shop.Models.Camera

@{
    ViewData["Title"] = "Delete a Camera";
    Layout = "_Layout";
    int id = Model.Id;
}

<h1 class="alert-danger">BE CAUTIOUS! DON'T DELETE WHAT ISN'T SUPPOSED TO BE DELETED!</h1>
<br/>

<div>
    <form method="post" asp-action="DeletePost" asp-route-id="@id">
         <tr><h5><b>Camera Brand:</b> @Model.Brand</h5></tr>
         <tr><h5><b>Camera Model:</b> @Model.Model</h5></tr>
         <tr><h5><b>Megapixels:</b> @Model.Megapixels</h5></tr>
         <tr><h5><b>Base ISO:</b> @Model.BaseISO</h5></tr>
         <tr><h5><b>Max ISO:</b> @Model.MaxISO</h5></tr>

        <input type="submit" value="DELETE" class="btn btn-outline-primary alert-danger"/>
    </form>
</div>

<br/>

<div>
    <a asp-action="ShowCatalog" class="btn btn-outline-primary">Back to the catalog</a>
</div>