@model Data.Models.Classes.Camera

@{
    ViewBag.Title = "Delete a Camera";
    Layout = "_Layout";
}

<h1 class="alert-danger">BE CAUTIOUS! DON'T DELETE WHAT ISN'T SUPPOSED TO BE DELETED!</h1>
<br/>

<div>
    <form method="post" asp-action="DeletePost" asp-controller="Catalog" asp-route-id="@Model.Id">
         <tr><h5><b>Camera Brand:</b> @Model.Brand.Name</h5></tr>
         <tr><h5><b>Camera Model:</b> @Model.Model</h5></tr>
         <tr><h5><b>Megapixels:</b> @Model.Megapixels</h5></tr>
         <tr><h5><b>Base ISO:</b> @Model.BaseISO</h5></tr>
         <tr><h5><b>Max ISO:</b> @Model.MaxISO</h5></tr>

        <button type="submit" class="btn btn-outline-primary alert-danger">DELETE</button>
    </form>
</div>
<div>
    <a asp-action="ShowCatalog" class="btn btn-outline-primary">Back to the catalog</a>
</div>