@using Microsoft.AspNetCore.Identity
@model IEnumerable<Camera_Shop.Models.Camera>
@inject SignInManager<User> UserManager

@{
    ViewData["Title"] = "Camera Catalog";
    Layout = "_Layout";

    @*foreach(var camera in Model)
    {
        var propertyInfoEnum = camera
            .GetType()
            .GetProperties().
            Where(pi =>
                !Attribute.IsDefined(pi, typeof(SkipProperty)));

        foreach(var property in propertyInfoEnum)
        {
            var attributePropertyInfo = property.GetCustomAttributes()
                .FirstOrDefault(x =>
                    x.GetType() == typeof(DisplayAttribute));
            DisplayAttribute attribute = attributePropertyInfo as DisplayAttribute;
            var name = attribute.Name;
                
            var value = property.GetValue(camera);

            <h5><b>Camera @name</b>: @value</h5>
        }*@


}

<!-- Show all cameras-->
<div>
    @foreach(var camera in Model)
    {
    <tr>
        <td>
            <h5><b>Camera Brand:</b> @camera.Brand</h5>
            <h5><b>Camera Model:</b> @camera.Model</h5>
            <h5><b>Camera Megapixels:</b> @camera.Megapixels</h5>
            <h5><b>Camera Base ISO:</b> @camera.BaseISO</h5>
            <h5><b>Camera Max ISO:</b> @camera.MaxISO</h5>

            @if(UserManager.IsSignedIn(User))
            {
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-cameraId="@camera.Id">Edit</a>
                <a class="btn btn-outline-primary alert-danger" asp-action="Delete" asp-route-cameraId="@camera.Id">Delete</a>
            }
        </td>
    </tr>
    <hr/>
    }
</div>

<!--Create a Camera -->
<div>
    <a class="btn btn-outline-primary" asp-action="Create">Create a Camera</a>
</div>